*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html
{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

body
{
    font-size: 1.6rem;
    min-height: 100vh;
}

nav
{
    margin: 0 auto;
    max-width: 110rem;
}

ul
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

 ul li
{
    display: flex;
    list-style: none;
    font-weight: bold;
}

a
{
    text-decoration: none;
}

ul a 
{
    display: block;
    width: 100%;
    color: #29487d;
    padding: 1.5rem;
}

li a:hover
{
    background-color: #29487d;
    color: #ffffff;
}

main
{
    width: 110rem;
    min-height: clac(100vh - 14.5rem);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    text-align: center;
}

h1
{
    font-size: 4rem;
    padding: 2rem;
}

h2
{
    padding: 1rem;
}

h3
{
    padding-bottom: 1rem;
}

.profile-photo
{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5rem solid transparent;
    box-shadow: 0.5rem 0.5rem 0.5rem 0.5rem #4267b2;
}

.toggle-background
{
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    font-size: 2rem;
    color: #ffffff;
    background-color: #4267b2;
    border: none;
    border-radius: 1rem;
    outline: none;
}

.toggle-background:focus
{
    box-shadow: 0 0 0 0.2rem #bc243c;
}

.toggle-background:hover
{
    background-color: #29487d;
    cursor: pointer;
}

.weather
{
    height: 15rem;
    width: 30rem;
    margin: 1rem auto 1rem;
    padding: 1rem;
    border: 0.5rem solid #4267b2;
    border-radius: 2rem;
}

.weather-conditions
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description > div
{
    margin-top: 2rem;
}

.underline-container
{
    display: none;
}

.underline
{
    width: 15rem;
    height: 1rem;
    margin: 2rem auto 0;
    background-color: #4267b2;
    border-radius: 5rem;
}

.background-white
{
    background-color: #ffffff;
    color: #333333;  
}

.background-dark
{
    background-color: #333333;
    color: #ffffff;
}

.background-blue
{
    background-color: #4267b2;
}

.background-yellow
{
    background-color: #c7900a;
}

footer
{
    margin-top: 4rem;
    padding: 1rem;
    text-align: center;
    color: #ffffff;
}

@media (min-width: 1025px)
{
    .weather
    {
        min-height: 15.5rem;
        min-width: 20rem;
        position: absolute;
        right: 0;
    }
}

@media (min-width: 768px)
{
    li a
    {
        padding: 2rem 5rem;
    }

    #description
    {
        display: flex;
        justify-content: space-evenly;
    }

    #description div
    {
        width: 30%;
    }

    .underline-container
    {
        display: flex-box;
        justify-content: center;
    }
}